.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}
.row{
    background-color:rgb(224, 33, 71) ;
}
.logo{
    font-weight: 1000;
    padding-top: 500px;
    font-size: 100px;
}
.mes{
    color: white;
}
.col-md-5{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
footer{
    text-align: center;
}
